@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf") format("truetype");
}

@font-face {
    font-family: Garamond;
    src: url("../fonts/Garamond.otf") format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
    position: relative;
}

#bar, #details_bar {
    position: fixed;
}

#details_bar .container{
    width: 25vw;
    min-width: 300px;
}

.main{
    margin-top: 56px;
}

.main .container{
    display: flex;
    justify-content: space-between;
}

.menu {
    position: sticky;
}

.prefoot {
    margin-bottom: 122px;
}

.menu .container {
    padding: 26px;
    display: block;
}

.menu p {
    font-family: Garamond, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 52px;
}

.menu ul li {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: black;

}

.menu ul li a {
    padding: 0.3rem 4rem 0.3rem 0;
}

.menu ul li a:hover {
    color: blue;
    mix-blend-mode: darken;
}

.menu.proj ul li a:hover {
    color: #6700e5;
    mix-blend-mode: darken;

}

.menu.pessoal ul li a:hover {
    color: #de0000;
    mix-blend-mode: darken;
}

.menu img {
    height: 122px;
    position: absolute;
    top: 0;
    left: 315px;
}

.main-content{
    margin-left: 600px;
    display: block;
    max-height: 800px;
    padding: 10px;
}

.main-content.details{
    margin-left: 300px;
    max-height: 1000px;
    margin-bottom: 20vw;
}

.main-content.details.title{
    margin-bottom: 5vw;
}

.container .main-content {
    padding: 10px;
    width: 750px;
    min-width: 600px;
}

.container .main-content.details {
    padding: 10px;
    width: 70%;
    min-width: 600px;
}

.main-content.proj, .main-content.pessoal {
    margin-top: 60px;
    max-height: max-content;
}

.title {
    width: 75%;
    min-width: 400px;
    max-width: 630px;
}

.title .container{
    padding: 25px;
    display: block;
}

.title h1, .title p, .title i{
    font-family: Garamond, sans-serif;
    font-weight: lighter;
    font-size: 52px;
    mix-blend-mode: darken;
    color: #0000FFFF;
}

.title img{
    height: 8%;
    position: absolute;
}

.title .ico1{
    top: 82%;
    right: 40%;
}

.title .ico2{
    top: 88%;
    right: 48%;
}

.title .ico3{
    top: 78%;
    right: 50%;
}

#eye_closed {
    display: none;
}

.eyes:hover #eye_open {
    display: none;
}

.eyes:hover #eye_closed{
    display: block;
}

.title.proj h1, .title.proj i, .title.proj p{
    color: #6700e5;
}

.title.pessoal h1, .title.pessoal i, .title.pessoal p{
    color: #de0000;
}

.square {
    background-color: yellow;
    width: 56%;
    height: 16%;
    position: absolute;
    left: 5%;
    top: 2%;
    z-index: -1;
}
.square.proj {
    background-color: #22ff00;
}

.square.pessoal {
    background-color: #00d9ff;
}


.photos.bio .container {
    min-height: 350px ;
    width: 100%;
}

.photos {
    min-height: max-content ;
    width: 100%;
    /*overflow: hidden;*/
}

.photos.proj .container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.photos.proj .projico {
    border: 1px solid white;
}

.photos.proj .onlyphoto img {
    width: 100%;
    object-fit: cover;
    max-height: 60vh;
}

.photos.details img  {
    width: 100%;
    min-height: 600px;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
}

.photos.proj img {
    margin-top: 1px;
    width: 33%;
    object-fit: cover;
    border: 1px solid black;
}

.photos.pessoal img {
    margin-top: 1px;
    width: 49%;
    object-fit: cover;
    border: 1px solid black;
}

.profile_imgl {
    position: absolute;
    right: 0;
    top: 15px;
}

.profile_imgc {
    position: absolute;
    top: 0;
    left: 33%;
    z-index: 1;
}

.profile_imgr {
    position: absolute;
    top: 15px;
    left: 0;
}

.profile_imgl img, .profile_imgr img {
    height: 320px;
    border: 1px solid black;

}

.profile_imgc img {
    height: 350px;
    border: 1px solid black;

}

.details .container{
    margin-top: 10px;
    display: block;
    background-color: white;
}

.details h2, .details a,  #details_bar .pessoal a {
    font-family: Garamond, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 46px;
    color: black;
}

.details a {
    text-decoration: none;
}

.proj .details a:hover {
    color: #6700e5;
}

.pessoal .details a:hover,  #details_bar .pessoal a:hover{
    color: #de0000;
}

.about {
    margin-top: 20px;
    display: flex;
    /*justify-content: space-between;*/
}

.about article {
    min-width: 46%;
    margin-right: 6%;
}

.about article a {
    margin-top: 22px;
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif;
}

.about article p {
    margin-top: 16px;
    text-align: justify;
}

.pannel {
    background-color: #efefef;
    border: 1px solid black ;
    border-radius: 8px;
    padding: 16px;
    justify-content: space-between;
    display: flex;
    margin-top: 16px;
    min-width: 320px;
}

.pannel img {
    height: 50px;
}

.pannel div p{
    text-align: center;
    font-size: 0.8rem;
}
