@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf") format("truetype");
}

@font-face {
    font-family: Garamond;
    src: url("../fonts/Garamond.otf") format("opentype");
}

:root {
    --home-theme: blue;
    --home-theme-second: yellow;
    --projects-theme: #6700e5;
    --projects-theme-second: #22ff00;
    --personal-theme: #de0000;
    --personal-theme-second: #00d9ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 1.1rem;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
    position: relative;
}
/*FIXA A BAR NA POSIÇÃO NO CANTO ESQUERDO*/
#bar, #details_bar {
    position: fixed;
}

#details_bar .container{
    width: 25vw;
    min-width: 300px;
}

.prefoot {
    margin-bottom: 122px;
}

.main{
    margin-top: 5%;
}

/*PRA DESKTOP DEIXA MENU DO LADO DO CONTEÚDO*/
.main .container{
    display: flex;
    justify-content: space-between;
}

/*REVER ISSO*/
.menu {
    position: sticky;
}

/*LINKS FICAM UM EMBAIXO DO OUTRO*/
.menu .container {
    padding: 5%;
    display: block;
}

/*"TITULO DÊ UMA OLHADA"*/
.menu p {
    font-family: Garamond, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 3rem;
}

/*ESPAÇO ENTRE OS LINKS DO MENU*/
.menu ul li {
    margin-top: 15px;
}

/*ESTILO DOS LINKS*/
a {
    text-decoration: none;
    color: black;
}

.menu ul li a {
    padding: 0.3rem 4rem 0.3rem 0;
}

/*HOVER DOS LINKS NAS DIFERENTES SESSÕES*/
.menu.home ul li a:hover {
    color: var(--home-theme);
}

.menu.projects ul li a:hover {
    color: var(--projects-theme);
}

.menu.personal ul li a:hover {
    color: var(--personal-theme);
}

/*TAMANHO DO TITLE DENTRO DO BAR*/
.title {
    width: 75%;
    min-width: 400px;
    max-width: 630px;
}

.title .container{
    padding: 25px;
    display: block;
}

/*DEFINE O TITULO DAS SESSÕES*/
.title h1, .title p, .title i{
    font-family: Garamond, sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    /*pode ser 52px*/
    mix-blend-mode: darken;
}

.title.home h1, .title.home i, .title.home p{
    color: var(--home-theme);
}

.title.projects h1, .title.projects i, .title.projects p{
    color: var(--projects-theme);
}

.title.personal h1, .title.personal i, .title.personal p{
    color: var(--personal-theme);
}

/*DEFINE TAMANHO DAS ESTRELAS DA HOME*/
.title img{
    height: 8%;
    position: absolute;
}
/*DEFINE LOCALIZAÇÃO DAS ESTRELAS DENTRO DO TITLE*/
.title .ico1{
    top: 82%;
    right: 40%;
}

.title .ico2{
    top: 88%;
    right: 48%;
}

.title .ico3{
    top: 78%;
    right: 50%;
}
/*DEFINE A ABERTURA E FECHAMENTO DO OLHO*/
.eyes img {
    height: 7rem;
    position: absolute;
    top: 0;
    left: 330px
}

#eye_closed {
    display: none;
}

.eyes:hover #eye_open {
    display: none;
}

.eyes:hover #eye_closed{
    display: block;
}

/*LINHA DE MARCA-TEXTO NO TITULO*/
.square {
    width: 56%;
    height: 16%;
    position: absolute;
    left: 5%;
    top: 2%;
    z-index: -1;
}

/*ESTILIZAÇÃO DO MARCA-TEXTO NAS SESSÕES*/
.square.home {
    background-color: var(--home-theme-second);;
}

.square.personal {
    background-color: var(--personal-theme-second);
}

.square.projects {
    background-color: var(--projects-theme-second);
}

.main-content{
    display: block;
    max-height: 800px;
    padding: 10px;
    margin-left: max(35vw, 450px);
}

.container .main-content {
    padding: 10px;
    width: 750px;
    min-width: 600px;
}

.main-content.details{
    margin-left: 300px;
    max-height: 1000px;
    margin-bottom: 20vw;
}

.main-content.details.title{
    margin-bottom: 5vw;
}

.container .main-content.details {
    padding: 10px;
    width: 70%;
    min-width: 600px;
}

.main-content.projects, .main-content.personal {
    margin-top: 40px;
    max-height: max-content;
}

/*CONJUNTO DE 3 FOTOS NA HOME*/
.photos.bio .container {
    min-height: 20rem;
    width: 100%;
}

.profile_imgl {
    position: absolute;
    right: 0;
    top: 1.5vh;
}

.profile_imgc {
    position: absolute;
    top: 0;
    left: 33%;
    z-index: 1;
}

.profile_imgr {
    position: absolute;
    left: 0;
    top: 1.5vh;
}

.profile_imgl img, .profile_imgr img {
    height: 18rem;
    border: 1px solid black;
}

.profile_imgc img {
    height: 20rem;
    border: 1px solid black;
}

/*PHOTOS DOS CONTEÚDOS DE ARTIGOS*/
.photos {
    min-height: max-content ;
    width: 100%;
}

.photos.projects img {
    width: 33%;
    object-fit: cover;
    border: 1px solid black;
}

.photos.projects .container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.photos .onlyphoto.projects img, .photos .onlyphoto.personal img {
    width: 100%;
    object-fit: cover;
    max-height: 60vh;
    border: 1px solid black;
}

.photos.details img  {
    width: 100%;
    min-height: 600px;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
}

.photos.personal img {
    margin-top: 1px;
    width: 49%;
    object-fit: cover;
    border: 1px solid black;
}

.details .container{
    margin-top: 2%;
    display: block;
    background-color: white;
}

/*FONTE ESTILO JORNAL PARA TITULOS*/
.details h2, .details a,  #details_bar .personal a {
    font-family: Garamond, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 2.8rem;
    color: black;
}

.details a {
    text-decoration: none;
}

/*HOVER DOS LINKS DOS ARTIGOS*/
.projects .details a:hover {
    color: #6700e5;
}

.personal .details a:hover,  #details_bar .personal a:hover{
    color: #de0000;
}

/*DEFINE OS ESTILIZACÃO PARAGRÁFOS DO ABOUT*/
.about {
    margin-top: 20px;
    display: flex;
    /*justify-content: space-between;*/
}

.about article {
    min-width: 46%;
    margin-right: 6%;
}

.about article p {
    margin-top: 2vh;
    text-align: justify;
}

.about article a {
    margin-top: 22px;
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif;
}

/*PAINEL DE TECNOLOGIAS TRABALHADAS*/
.pannel {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    min-width: 30%;
    padding: 5%;
    border: 1px solid black ;
    border-radius: 8px;
    background-color: #efefef;
}

.pannel img {
    height: 2rem;
}

.pannel div p{
    font-size: 0.8rem;
    text-align: center;
}

/* Adaptação para dispositivos móveis */
@media (max-width: 480px) {
    * {
        font-size: 1rem;
    }

    .container {
        padding: 10px;
        max-width: 100%;
    }

    .main {
        margin-top: 10px;
    }

    .main .container {
        flex-direction: column;
    }

    .main-content, .main-content.details {
        margin-left: 0;
        max-height: none;
        padding: 5px;
    }

    .container .main-content {
        padding: 5px;
        width: 90vw;
        min-width: 100px;
    }

    .title {
        max-width: 70vw;
        min-width: 0;
    }

    .title h1, .title p, .title i {
        font-size: 2rem;
    }

    #bar, #details_bar {
        position: relative;
    }

    #details_bar .container {
        width: 100%;
        min-width: auto;
    }

    .menu p {
        font-size: 2rem;
    }

    .eyes img{
        left: 60vw;
    }

    .profile_imgc img {

    }

    .photos .container {
        display: flex;
        flex-direction: row;
    }

    .photos.projects img {
        width: 33%;
        margin-bottom: 10px;
    }

    .photos.details {
        max-width: 90vw;
        max-height: max-content;
        overflow: hidden;
    }

    .photos.details img  {
        min-height: auto;
        object-fit: contain;
    }

    .profile_imgl img, .profile_imgr img {
        height: 12rem;
    }

    .profile_imgc img {
        height: 14rem;
    }

    .details h2, .details a {
        font-size: 2rem;
    }

    .pannel {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .pannel div {
        display: flex;
        margin-top: 2vh;
        justify-content: left;
        margin-left: 5vw;
    }

    .pannel img {
        margin-right: 5vw;
    }
}

